.header2{
    background-color: #1b2435;
     height: 3em;
    }
.header2__container{
    display:flex;
    flex-direction: row;

    
}
.icon{
 height: 20px;
margin-top: 8px;
margin-right: 2px;
}
.location{
margin-left: 5px;
font-size: 15px;
}
.header2__items{
    display: flex;
    flex-direction: row;
    color: white;
  font-size: 55px;
  font-weight: bold;
  margin-left: 37px;
  margin-right: 80px;
  flex: 1 0 46%;
 
}
.header2__items>p{
    font-size: 11.5px;
    font-weight: bold;
    margin-left: 8px;
    margin-right: 8px;
}
.user__items{
    display: flex;
    flex-direction: column;
    color: white;
  
}
.header2__user{
    display: flex;
    flex-direction: row;
    color: white;
    margin-left: 11px;
    flex: 1 0 20%;
}
.huser{
    font-size: 14px;
}
.header2__app{
    display: flex;
    flex-direction: row;
    margin-right: 30px;
    flex: 1 0 34%;
}

.header2__app> img{
    height: 30px;
    margin-top: 10px;
    margin-right: 6px;
    border-radius: 5px;
}
.header2__app >p{
color:white;
}